# .github/workflows/prod.yml
name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Result
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Common Setup
        uses: ./.github/actions/common-setup
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Prepare default .env
        run: cp .env.example .env

      - name: Audit
        run: pnpm a11y:audit

      - name: Prepare zola-monoplain .env
        run: cp .env.zola-monoplain .env

      - name: Audit
        run: pnpm a11y:audit

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./results
          branch: gh-pages
          clean-exclude: pr-preview
          force: false
